body {
    background-color: rgb(44, 44, 44);
    color :rgb(255, 255, 255);
}
header, .content, footer ,.Suscripcion{
    border-style: solid;
    border-width: medium;
    border-color: rgb(100, 100, 100);
    margin-top: -2px;
}
header{
    position: sticky;
    top: 0px;
    background-color: rgb(44,44,44);
    height: 90px;
    z-index: 8;
}

header .titulo a{
    text-decoration: none;
    color: white;
}
footer{
    background-color: rgb(44,44,44);
    height: 80px;
}
footer .logo{
    margin-top: 10px;
    width: 60px;
    height: 60px;
    border-radius: 8px;
}

footer .titulo{
    font-size: medium;
}

.content{
    padding-bottom: 10%;
}
.logo{
    margin: 4px;
    margin-bottom: 2px;
    float: left;
}
.titulo{
    float: left;
    position: relative;
    background-color: transparent;
    border-style: hidden;
    border-color: transparent;
    top : 34px;
    margin-left: 20px;
    font-size: larger;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.titulo:hover{
    text-shadow: 0px 0px 0px rgb(255, 255, 255);
}

.titulo:active{
    color:rgb(143, 143, 143)
}
.botones {

    float: right;
    position: relative;
    top : 30px;
    margin-right: 10px;

}
.boton{
    background-color: transparent;
    border-style: solid;
    border-color: rgb(100, 100, 100);
    color:white;
    border-radius: 5px;
    font-size: large;
    margin-left: 2px;
    margin-left: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-width: 2px ;
}

.boton#contacta,.boton#membresia{
    float: left;
    position: relative;
    top : 30px;
    border-color: transparent;
    margin-left: 20px;
    transition-duration: 0.1s;
}
.boton:hover{
    transition-duration: 0.05s;
    background-color: rgb(80, 80, 80);
}
.boton:active{
    transition-duration: 0.1s;
    background-color: rgb(143, 143, 143);
}
.drop{
    position: relative;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    display: inline-block;
}
.menuContenido {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    
}
.drop:hover .menuContenido {
    display: block;
}
.menuContenido a {
    display: block;
    color: white;
    padding: 5px;
    background-color: rgb(50,50,50);
    text-decoration: none;
}

.twitter{
    float: right;
    padding-top: 25px;
    margin-right: 25px;
}
.insta{
    float: right;
    padding-top: 25px;
    margin-right: 25px;
}

a {
    text-decoration: none;
}

.content{
    text-align: center;
    height: 800px
}


form{
    margin-top: 10%;
    margin-bottom: 10%;

}
form #btnForm{
    margin-top: 4%;
    background-color: transparent;
    border-style: solid;
    border-color: rgb(100, 100, 100);
    color: white;
    border-radius: 5px;
    font-size: 140%;
    
}

form #btnForm:hover{
    
    transition-duration: 0.05s;
    background-color: rgb(80, 80, 80);
    
}
form #btnForm:active{
    transition-duration: 0.1s;
    background-color: rgb(143, 143, 143);
}


#btnInicio{
    
    position: relative;
    top: 40px;
    background-color: transparent;
    border-style: solid;
    border-color: rgb(100, 100, 100);
    color: white;
    border-radius: 5px;
    font-size: 140%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
}
#btnInicio:hover{
    transition-duration: 0.05s;
    background-color: rgb(80, 80, 80);
}
#btnInicio:active{
    transition-duration: 0.1s;
    background-color: rgb(143, 143, 143);
}

field{
    background-color: transparent;
    border-color: rgb(100, 100, 100);
    color: white;
    border-style: solid;
    border-radius: 3px;
    width: 60%;
}
.n1{
    float: left;
    width: 25%;
    margin-left: 3.80%;
    margin-right: 3.80%;
    border-style: solid;
    border-width: medium;
    border-color: rgb(100, 100, 100);
    border-radius: 40px;
}

span{
    display: flex;
}

p {
    margin-left: 2%;
    margin-right: 2%;
}
img{   
    
}

